## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache & temporary files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## OS Files
.DS_Store
Thumbs.db
