## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio cache & temporary files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.tmp
*.tmp_proj
*.log
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.cache

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db

## Node
node_modules/

## Publish output & profiles
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.pubxml.user
*.publishproj
PublishProfiles/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## SQL Server files
*.mdf
*.ldf

## Secrets / environment-specific configuration
appsettings.Production.json
appsettings.*.Local.json
secrets.json
